.Login {
	width: 100%;
}

.forms {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 2em;
	gap: 1em;
}

.forms h2 {
	margin-bottom: 0.5em;
}
